<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/catalog"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product?.titulo || product?.pro_nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Imagen principal -->
  <img
    *ngIf="product"
    [src]="product.image || product.foto || 'assets/img/placeholder.png'"
    class="main-img"/>

  <!-- Info -->
  <h1 class="title">{{ product?.titulo || product?.pro_nombre }}</h1>

  <div class="price-box">
    <div class="price">
      ${{ product?.precioBase }}
    </div>

    <div *ngIf="product?.precioOferta" class="offer">
      Oferta: ${{ product?.precioOferta }}
    </div>
  </div>

  <!-- Descripción -->
  <p class="desc">{{ product?.detalle || product?.pro_descripcion }}</p>

  <!-- Tallas -->
<!-- Tallas -->
  <div *ngIf="product?.tallas?.length">
    <h3>Tallas</h3>

    <div class="chip-group">
      <div
        class="chip"
        *ngFor="let t of product.tallas"
        [class.active]="selectedTalla === t"
        (click)="selectedTalla = t"
      >
        {{ t }}
      </div>
    </div>
  </div>


<!-- Colores -->
<div *ngIf="product?.colores?.length">
  <h3>Colores</h3>

  <div class="chip-group">
    <div
      class="chip"
      *ngFor="let c of product.colores"
      [class.active]="selectedColor === c"
      (click)="selectedColor = c"
    >
      {{ c }}
    </div>
  </div>
</div>


  <!-- Cantidad -->
  <ion-item>
    <ion-label position="stacked">Cantidad</ion-label>
    <ion-input type="number" min="1" [(ngModel)]="cantidad"></ion-input>
  </ion-item>

  <!-- Botón de carrito -->
  <ion-button expand="block" class="btn-buy" (click)="addToCart()">
    Agregar al carrito
  </ion-button>

  <!-- Productos relacionados -->
  <h2 class="related-title">Relacionados</h2>

  <div class="related-grid">
    <div *ngFor="let r of related" class="related-card">
      <img [src]="r.image || r.foto" />
      <div>{{ r.titulo }}</div>
      <div class="price"> ${{ r.precioVenta }} </div>
    </div>
  </div>

</ion-content>
